body {
  font-size: 15px;
  font-family: 'Noto Serif', serif;
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

.inner {
  max-width: 80%;
  margin: 0 auto;
  position: relative;
}

.intro {
  width: 40%;
}

.section_ttl {
  margin-bottom: 20px;
  font-size: 40px;
}

.section_ttl small {
  border-left: solid 8px #75a9ff;
  padding-right: 10px;
}

.intro_txt {
  font-size: 18px;
}
