header {
  width: 100%;
  display: inline-block;
  background: #000;
}

header .logo {
  position: absolute;
  padding: 10px 0 0 20px;
  z-index: 2;
}

header .logo img {
  width: 150px;
  height: auto;
  z-index: 2;
}

header .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  position: relative;
  margin: 15px 0;
}

header .navbar ul li {
  margin: 10px;
  padding-right: 20px;
  border-right: solid 3px #75a9ff;
}

header .navbar ul li a {
  color: #fff;
  font-weight: 700px;
  font-size: 15px;
}

header .navbar ul li a:hover {
  color: #75a9ff;
}

header .navbar ul li:nth-child(1) {
  border-right: none;
}

header .navbar ul li:last-child {
  border-right: none;
}

header .respns {
  visibility: hidden;
  width: 0;
  height: 0;
}

header .drawer {
  visibility: hidden;
}

.top {
  width: 100%;
  height: 100vh;
  margin-bottom: 200px;
  position: relative;
  bottom: 8px;
}

.top_bg {
  width: 100%;
  height: 100%;
  background-color: #000;
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 50%);
  clip-path: polygon(0% 0%, 0% 100%, 100% 50%);
}

.top_img {
  width: 100%;
  height: 100%;
  position: relative;
}

.top_img img {
  width: 50%;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 47%;
  left: 50%;
  z-index: 2;
}

.service {
  position: relative;
  margin-bottom: 200px;
}

.service_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service_item {
  width: 48%;
  height: 480px;
  overflow: hidden;
  -webkit-box-shadow: 10px 10px 20px #ddd;
  box-shadow: 10px 10px 20px #ddd;
  position: relative;
  margin: 10% 0;
}

.service_item._service1 {
  margin: 0;
}

.service_item._service2 {
  bottom: 250px;
  margin-bottom: 0;
}

.service_item._service3 {
  bottom: 65px;
  margin: 0;
}

.service_item._service4 {
  bottom: 320px;
  margin: 0;
}

.service_img {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 500px;
  z-index: -1;
}

.service_img::after {
  content: "";
  position: absolute;
  width: 375px;
  height: 715px;
  background: #ffffff;
  z-index: -1;
  -webkit-transform: rotate(13deg);
  transform: rotate(13deg);
  left: 50%;
  top: -25px;
}

.service_img_service {
  background: url(../img/service.png) no-repeat center;
  background-size: cover;
  z-index: -1;
}

.service_inner_txt {
  padding: 20px 5px 0 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-1%, -50%);
          transform: translate(-1%, -50%);
}

.service_subttl {
  margin-bottom: 10px;
  padding-left: 40px;
  font-size: 18px;
}

.service_ttl {
  font-size: 25px;
  font-weight: 700;
  padding-left: 10px;
  margin-bottom: 10px;
}

.service_ttl strong {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), to(#75a9ff));
  background: linear-gradient(transparent 60%, #75a9ff);
}

.service_descript {
  font-size: 15px;
}

.about {
  position: relative;
  margin-bottom: 200px;
}

.about ::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 500px;
  top: 85px;
  right: 0;
  z-index: -1;
  background: url(../img/about_bg.png) center/cover;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  opacity: 0.3;
}

.about .intro {
  margin-bottom: 50px;
}

.about_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about_item {
  width: 30%;
  height: auto;
  position: relative;
  z-index: 2;
  background: #ffffff;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  overflow: hidden;
}

.about_item::before {
  height: 100%;
  width: 100%;
  position: absolute;
  content: "";
  z-index: -1;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  background: url(../img/about.png) center/cover no-repeat;
  -webkit-clip-path: polygon(64% 0, 100% 100%, 47% 100%);
  clip-path: polygon(64% 0, 100% 0, 100% 100%, 47% 100%);
}

.about_item:hover::before {
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.8;
}

.about_sub_ttl {
  padding-top: 55px;
  padding-left: 22px;
}

.about_sub_txt {
  padding: 25px 0 0 20px;
  font-size: 30px;
  font-weight: 700;
}

.about_arrow {
  margin-top: 55px;
  margin-left: 20px;
}

.btn {
  background: #000;
  padding: 20px 30px;
  width: 17%;
  margin: auto;
  text-align: center;
}

.btn a {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}

body {
  font-size: 15px;
  font-family: 'Noto Serif', serif;
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

.inner {
  max-width: 80%;
  margin: 0 auto;
  position: relative;
}

.intro {
  width: 40%;
}

.section_ttl {
  margin-bottom: 20px;
  font-size: 40px;
}

.section_ttl small {
  border-left: solid 8px #75a9ff;
  padding-right: 10px;
}

.intro_txt {
  font-size: 18px;
}
