@mixin flex {
  display: flex;
  float: right;
  position: relative;
  margin: 15px 0;
}

@mixin flex1 {
  display: flex;
}

@mixin top_bg {
  width: 100%;
  height: 100%;
  background-color: #000;
  -webkit-clip-path: polygon(0% 0%,0% 100%,100% 50%);
}

