@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .inner {
    max-width: 95%;
  }
  .service_item {
    display: block;
    width: 80%;
    margin: 0 auto 10%;
    height: 120%;
  }

  .service_item._service2,
  .service_item._service3,
  .service_item._service4 {
    bottom: 0;
    margin: 0 auto 10%;
  }

  .intro {
    width: 100%;

    &.intro_txt {
      margin-bottom: 50px;
    }
  }

  .about_sub_ttl {
    padding-top: 20px;
  }
}

@media screen and (max-width: 480px) {
  .inner {
    max-width: 95%;
  }
  header {
    display: block;

    .logo {
      padding: 5px 0 0 5px;
    }
  }

  .footer_logo {
    width: 40%;
  }

  .footer_item {
    padding-right: 7px;
    margin-right: 7px;
  }
}
